@model IEnumerable<StudentEnrollment.Models.Course>

@{
    ViewData["Title"] = "Course Data";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Add a new Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {CourseID = item.CourseID })
            </td>
        </tr>
}
    </tbody>
</table>
