@model IEnumerable<StudentEnrollment.Models.Teacher>

@{
    ViewData["Title"] = "Teacher Data";
}

<h1>Teachers</h1>

<p>
    <a asp-action="Create">Add Teacher</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeacherID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { TeacherID = item.TeacherID}) |
                @Html.ActionLink("Details", "Details", new { TeacherID = item.TeacherID }) |
                @Html.ActionLink("Delete", "Delete", new { TeacherID = item.TeacherID })
            </td>
        </tr>
}
    </tbody>
</table>
