@model IEnumerable<StudentEnrollment.Models.Student>

@{
    ViewData["Title"] = "Students Data";
}

<h1>Students</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { StudentId = item.StudentID }) |
                @Html.ActionLink("Details", "Details", new { StudentId = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { StudentId = item.StudentID })
            </td>
        </tr>
}
    </tbody>
</table>
